#Diwali{
    background-image: url(https://image.shutterstock.com/image-vector/ethnic-indian-round-ornamental-henna-600w-701428201.jpg);
    
}
#noob {
    background-image: url(https://image.shutterstock.com/image-vector/ethnic-indian-round-ornamental-henna-600w-701428201.jpg);
}   

#h1op1{
    color:white;
}